

/* .... PROFILE PAGE STYLING .... */

.content{
    padding-top: 20px;
}

.content_container .profile_page_content_container{
}

.content .profile_page_content_container form{
    margin-top: 10px;
}


.content .profile_page_content_container .profle_image{
    color: rgb(196, 194, 194);
    font-size: 100px;
    margin-bottom: 10px;
}


.user_profile_details{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.user_profile_details .username_container .username_heading{
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}

.user_profile_details .username_container .username{
    font-size: 18px;
}



.user_profile_details .username_container .user_firstname_input{
    margin-top: 30px;
}

.user_profile_details .username_container .user_firstname_input p{
    color: grey;
    font-size: 24px;
    margin-bottom: 8px;
}
.user_profile_details .username_container .user_firstname_input input{
    border: none;
    outline: none;
    width: 30vw;
    height: 46px;
    background-color: rgb(235, 234, 234);
    border-radius: 4px; 
    padding-left: 10px;
    font-size: 16px;
}


.user_profile_details .user_email_container .user_email_heading{
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}

.user_profile_details .user_email_container .user_email{
    font-size: 18px;
}


.user_profile_details .user_email_container .user_lastname_input{
    margin-top: 30px;
}

.user_profile_details .user_email_container .user_lastname_input p{
    color: grey;
    font-size: 24px;
    margin-bottom: 8px;
}
.user_profile_details .user_email_container .user_lastname_input input{
    border: none;
    outline: none;
    width: 30vw;
    height: 46px;
    background-color: rgb(235, 234, 234);
    border-radius: 4px; 
    padding-left: 10px;
    font-size: 16px;
}


/* ..... CHANGE PASSWORD SECTION ...... */
.change_password_section{
    margin-top: 30px;
}

.change_password_section .change_password_heading{
    display: flex;
    align-items: center;
}

.change_password_section .change_password_heading p{
    font-size: 20px;
    margin-right: 10px;
}


.change_password_section .toggle_button{
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background-color: rgb(211, 211, 211);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:  0 5px 10px rgba( 0, 0, 0, 0.1);
}

.change_password_section .toggle_button .slider{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s ease;
}

.toggle_button.active{
    background-color: rgb(3, 3, 177);
}

.toggle_button.active .slider{
    left: 27px;
}

/* ... CHANGE PASSWORD CONTAINER ... */
.change_password_container{
    margin-top: 30px;
    align-items: center;
    column-gap: 30px;
    display: none;
}


.change_password_container .new_password p{
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}
.change_password_container .new_password input{
    border: none;
    outline: none;
    width: 30vw;
    height: 46px;
    background-color: rgb(235, 234, 234);
    border-radius: 4px; 
    padding-left: 10px;
    font-size: 16px;
}

.change_password_container .confirm_password p{
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}
.change_password_container .confirm_password input{
    border: none;
    outline: none;
    width: 30vw;
    height: 46px;
    background-color: rgb(235, 234, 234);
    border-radius: 4px; 
    padding-left: 10px;
    font-size: 16px;
}

.update_profile_btn{
    margin-top: 20px;
}

.update_profile_btn input{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #003559;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s;
}

.update_profile_btn input:hover{
    background-color: #02273f;
}




/* ... MEDIA QUERIES ... */
@media screen and (max-width:1130px) {
        
    .user_profile_details .username_container .user_firstname_input input{
        width: 22vw;
        height: 46px;
        background-color: rgb(235, 234, 234);
        border-radius: 4px; 
        padding-left: 10px;
        font-size: 16px;
    }

        
    .user_profile_details .user_email_container .user_lastname_input input{
        width: 22vw;
        height: 46px;
        font-size: 16px;
    }


        
    .change_password_container .new_password input{
        width: 22vw;
        height: 46px;
        font-size: 16px;
    }


            
    .change_password_container .confirm_password input{
        width: 22vw;
        height: 46px;
        font-size: 16px;
    }



}

@media screen and (max-width:808px) {


        

    .user_profile_details{
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

         
    .user_profile_details .username_container .user_firstname_input input{
        width: 35vw;
    }

        
    .user_profile_details .user_email_container .user_lastname_input input{
        width: 35vw;
    }


        
    .change_password_container .new_password input{
        width: 35vw;
    }


            
    .change_password_container .confirm_password input{
        width: 35vw;
    }
}




@media screen and (max-width:430px) {
           
    /* .....Content Section..... */
    .content_container{
        margin-top: 70px;
        margin-left: 0px;
        width: 100vw;
        padding: 18px 18px;
    }
        
        
    .user_profile_details{
        column-gap: 0px;
    }

    .user_profile_details .username_container{
        margin-right: 50px;
    }
            
    .user_profile_details .username_container .username_heading{
        font-size: 18px;
    }

    .user_profile_details .username_container .username{
        font-size: 16px;
    }


    .user_profile_details .username_container .user_firstname_input p{
        color: grey;
        font-size: 18px;
        margin-bottom: 8px;
    }
    .user_profile_details .username_container .user_firstname_input input{
        height: 30px;
        font-size: 14px;
        width: 30vw;
    }


    .user_profile_details .user_email_container .user_email_heading{
        font-size: 18px;
    }

    .user_profile_details .user_email_container .user_email{
        font-size: 16px;
    }


    .user_profile_details .user_email_container .user_lastname_input p{
        font-size: 18px;
    }

    .user_profile_details .user_email_container .user_lastname_input input{
        height: 30px;
        font-size: 14px;
        width: 30vw;
    }


    /* ..... CHANGE PASSWORD SECTION ...... */


    .change_password_container{
        column-gap: 0px;
    }
    

    .change_password_section .change_password_heading p{
        font-size: 18px;
        margin-right: 10px;
    }

    .change_password_container .new_password{
        margin-right: 50px;
    }

    .change_password_section .toggle_button{
        width: 30px;
        height: 18px;
        border-radius: 10px;
    }

    .change_password_section .toggle_button .slider{
        height: 14px;
        width: 14px;
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .toggle_button.active .slider{
        left: 14px;
    }

    /* ... CHANGE PASSWORD CONTAINER ... */


    .change_password_container .new_password p{
        font-size: 18px;
    }
    .change_password_container .new_password input{
        height: 30px;
        font-size: 14px;
        width: 30vw;
    }

    .change_password_container .confirm_password p{
        font-size: 18px;
    }
    .change_password_container .confirm_password input{
        height: 30px;
        font-size: 14px;
        width: 30vw;
    }

    .update_profile_btn input{
        width: 120px;
        height: 36px;
        font-size: 14px;
    }
}