
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(30,0,0,0.8)), url(images/iStock-1360661561.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container{
    width: fit-content;
    background-color: rgba(0,0,0, 0.6);
    padding: 30px;
    border-radius: 10px;
}

.form_container h1{
   color: white; 
   font-size: 40px;
}

.form_container form .input_group input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.form_container button{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}
.form_container button:hover{
    background-color: rgb(52, 52, 253);
    color: white;
}

.sign_up_reset{
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.sign_up_reset .sign_up a{
    text-decoration: none;
    color: blue;
}

.sign_up_reset .forget_pass a{
    text-decoration: none;
    color: blue;
}


